!!! 5

%html
	%head
		%title Traveller Map
		%link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
		%link{:rel => "icon", :type => "image/png", :href => url("favicon.ico")}

	%body
		%img{ :src => locals[:img_url] }

		%div.worlds
			%table
				- locals[:world_data].each do |world|
					- name = world["Name"]
					- uwp = world["UWP"]
					
					%tr
						%td= "Name: " + name
						%td= "UWP: " + uwp

		%div
			%a{:title => "Click here for a wider view", :href => "/widemap/"} Click here for a wider view
